<!DOCTYPE html>
<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>{{ category_name }}</h1>
        {% if category %}
            {% if pages %}
            <ul>
                {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>当前分类下尚无可用页面.</strong>
            {% endif %}
        {% else %}
            指定的分类名称 {{ category_name }} 不存在!
        {% endif %}
    </body>
</html>
